/*--------------------------------------------------------------
Images
--------------------------------------------------------------*/


img {
    display: block;
    width: 100%;
}

figure {
    margin: 0;
    padding: 0;
}


/* Media queries for larger screens  */
@media (min-width: 600px) {

    .section-c img {
        width: 75%;
    }

    .section-a img {
        width: 50%;
    }
  }