/*--------------------------------------------------------------
FLEXBOX LAYOUT
--------------------------------------------------------------*/

header, nav, footer {
    flex: 1 100%;
}

main {
    flex-grow: 2;
    flex-basis: 66%;
}
aside {
    flex-grow: 1;
    flex-basis: 33%;
}


/*--------------------------------------------------------------
GRID SYSTEM
--------------------------------------------------------------*/
.container {
    display: grid;
    grid-template-columns: [left] 100%;
    grid-template-rows: [header] 80px [main-nav] 40px [shows]
    auto [footer] 150px;
}