/*--------------------------------------------------------------
Main Navigation
--------------------------------------------------------------*/


.main-nav {
	display: flex;
	list-style: none;
	margin-left: 0;
}

